.container{
    border:3px solid black;
    height:500px;
    width:500px;
    position:fixed;
    left:100px;
    top:30px;
    padding: 20px;
    position: relative;
}
.box{
    border:3px solid black;
    width:500px;
}   
.first{
    border:3px solid black;
    width:500px;
    position: fixed;
    top:180px;
    padding-left: 5px; ;
}
.second{
    border:3px solid black;
    width:500px;
    height:120px;
    position: fixed;
    top:350px;
    padding:5px;
}
.innersecond{
    border:3px solid black;
    width:495px;
    height:100px;
    position: fixed;
    top:365px;
   
}
.line{
    border:3px solid red;
    position: fixed;
    width:490px;
    top:410px;
}

   